.phone-item {
    display: flex !important;
    flex: 1;
}

.phone-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.phone-image {
    max-width: 40%;
    max-height: 40%;
}